.logo {
    width: 220px;
    margin-top: 20px;
    
    
}
.link{
    font-family: cursive;
}
.brand-logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.music{
    text-align: center;
    
}
.youtube{
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: underline;
}
.Instagram{
    text-align: center;
    position: relative;
    z-index: 1;
    text-decoration: underline;
}
hr{
    display: block;
    border-width: 6px;
}